{
  "env": {
    "browser": true,
    "node": true
  },

  "globals": {
    "Promise": true
  },

  "extends": "gio",

  "rules": {
    "comma-dangle": 0,
    "arrow-body-style": 0,
    "max-nested-callbacks": 0,
    "max-depth": 0,
    "no-underscore-dangle": 0,
    "id-length": 0
  }
}
